<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Managament</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

    <%- include("partials/nav.ejs") %>

    <header>
        <h1>Welcome to the Inventory Management System</h1>
        <p class="description">A robust solution for tracking stock levels, order fulfillment, and supplier management.</p>
    </header>

    <section id="homepage">
        <!-- Content for the homepage will be added here -->
        <p>Our one stop solution to all your inventory management needs.</p>

        <div class="sections-container">

            <a href="/product-listing">
                <section id="products">
                    <div>Product Listing</div>
                </section>
            </a>
            
            <a href="#">
                <section id="orders">
                    <div>Order Tracking</div>
                </section>
            </a>
            
            <a href="#">
                <section id="suppliers">
                    <div>Supplier Management</div>
                </section>
            </a>

        </div>
    </section>
    
</body>

</html>

