<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Listing</title>
    <link rel="stylesheet" href="/css/product-listing-styles.css">
</head>
<body>

    <%- include("partials/nav.ejs") %>

    <header>
        <h1>Welcome to the Inventory Management System</h1>
        <p class="description">A robust solution for tracking stock levels, order fulfillment, and supplier management.</p>
    </header>

    <div class="main-container">
        <main>
            <h2>Product Listing</h2>
                <!-- Placeholder content for product listing -->
            <div id="product-list">
                <!-- Add the product list content here -->
            </div>

            <div class="pagination">
                <div class="paginations-container">
                    <div class="first-page-no">1</div>
                    <div class="prev-btn"><div>&larrb;</div></div>
                    <div class="page-no"><div>1</div></div>
                    <div class="next-btn"><div>&rarrb;</div></div>
                    <div class="last-page-no"></div>
                </div>
            </div>
        </main>
    </div>
      
    <footer>
        <!-- Add your footer content here -->
    </footer>

    
</body>

<script>

    const productsPerPage = 6;
    let totalPages = 0;
    let totalProducts = 0;

    const fetchProducts = async (pageNo)=>{
        const response = await fetch(`./api/products?ppp=${productsPerPage}&pn=${pageNo}` , {
            method: "GET"
        });

        const ret = await response.json();

        const products = ret.products;
        totalPages = ret.totalPages;
        totalProducts = ret.totalProducts;

        document.querySelector(".last-page-no").innerHTML = totalPages;

        console.log(totalPages , totalProducts);
      
        const productList = document.getElementById('product-list');
        productList.innerHTML = "";
        
        products.forEach(product => {
            const productItem = document.createElement('div');
            productItem.classList.add('product-item');

            const image = document.createElement('img');
            image.src = product.image;
            image.alt = product.name;
            productItem.appendChild(image);

            const title = document.createElement('h2');
            title.textContent = product.name;
            productItem.appendChild(title);

            const description = document.createElement('p');
            description.textContent = product.description;


            productItem.appendChild(description);

            const price = document.createElement('p');
            price.textContent = `$${product.price}`;
            productItem.appendChild(price);

            productList.appendChild(productItem);
        });

    };

    //initial call
    fetchProducts(1);

    
    //pagination
    const nextBtn = document.querySelector(".next-btn");
    const prevBtn = document.querySelector(".prev-btn");

    nextBtn.addEventListener("click" , async ()=>{
        const pageNo = document.querySelector(".page-no").innerText;
        console.log("next clicked");

        if(pageNo < totalPages){
            console.log("next set of products");
            const newPageNo = Number(pageNo) + 1;
            document.querySelector(".page-no").innerHTML = newPageNo;
            await fetchProducts(newPageNo);
        }       

    });

    prevBtn.addEventListener("click" , async ()=>{
        const pageNo = document.querySelector(".page-no").innerText;
        console.log("prev clicked");

        if(pageNo > 1){
            console.log("prev set of products");
            const newPageNo = Number(pageNo) - 1;
            document.querySelector(".page-no").innerHTML = newPageNo;
            await fetchProducts(newPageNo);
        }       

    });


</script>

</html>

