.main-container{
  background: #6f706f;
  padding: 2rem 0;
}

main{
  width: 90%;
  margin: auto;
}

main h2{
  padding: 2rem 0;
  text-align: center;
  color: #fff;
  font-size: 2rem;
}

#product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  
  .product-item {
    background: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
  }
  
  .product-item img {
    height: 6rem;
    border-radius: 5px;
  }
  
  .product-item h2 {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
  
  .product-item p {
    margin-bottom: 0.5rem;
  }

.pagination{
  padding: 2rem 0;
  color: #fff;
}

.paginations-container{
  width: 40%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(5 , 1fr);
  justify-items: center;
}

.prev-btn , .next-btn{
  cursor: pointer;
  background: #ccc;
  color: #000;
  width: 40px;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-weight: bold;
}

.page-no{
  background: #ccc;
  color: #000;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
}

.page-no div{
  transform: translateY(10px);
}

.prev-btn div , .next-btn div{
  transform: translateY(5px);
}